@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

.container {
    background-color: #f2f2f2;
    background-image: url('../assets/imgs/BG.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.board {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 20px;
    flex-wrap: wrap;
}

.child-board {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}



.titleBoard{
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.dpu {
    /* background-color:red; */
}

.ftt {
    /* background-color:blue; */
}

.quantity {
    /* background-color:purple; */
}

.downtime {
    /* background-color:orange; */
}

.col {
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
   
}

.col:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.col:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* .title {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: green; 
    align-items: center;
} */

.title-column {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.data-product{
    display: flex;
    width: 100%;
    align-content: center   ;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
}
.chartProductionDashboard{
    width: 100%;
    height: 100%;
    padding:1px;
}
.col-config{
    
}
/* .target {
    display: flex;
    align-items: center;
}

.actual {
    display: flex;
    align-items: center;
} */
.pted{
    display: flex;
    align-items: center;
}
.pvc{
    display: flex;
    align-items: center;
}
.paint{
    display: flex;
    align-items: center;
}
.pbs{
    display: flex;
    align-items: center;
}


.divider::before,
.divider::after {
    background-color: #000000;
    /* đặt màu đen */
    opacity: 0.5;
    /* đặt độ mờ */

}
.submitForm{
      display: flex;
      align-content: center;
      justify-content: right;
      margin-right: 10px;
}
.production{
      font-family: 'Poppins',sans-serif;
}
